<h1 class="text-center">Amigo</h1>
<div class="row">
    <div class="col-sm-6">
        <label>Nome: </label>
        <p class="well well-sm">{{model.name}}</p> 
    </div>
    <div class="col-sm-6">
        <label>Sobrenome:</label> 
        <p class="well well-sm">{{model.lastname}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <label>Data de Início da Amizade:</label> 
        <p class="well well-sm">{{moment-format model.friendsSince 'DD/MM/YYYY'}}</p>
    </div>
</div>

{{#link-to "friends.edit" model}}<button class="btn btn-primary btn-block">Editar</button>{{/link-to}}
{{back-button route="friends.list"}}
