<p>Nome: {{input model.name}}</p>
<p>Sobrenome: {{input model.lastname}}</p>
<p>Data de Início da Amizade: {{moment-format model.friendsSince 'DD/MM/YYYY'}}</p>

<button>{{#link-to "friends.detail" model}}Voltar{{/link-to}}</button>
