{{friends/edit-form model=model save=(action 'save')}}

{{#if isShowingSuccessModal}}
    {{#modal-dialog onClose="toggleSuccessModal"
        targetAttachment="center"
        translucentOverlay=true}}
        <label>Amigo cadastrado</label>
        <button class="btn btn-default btn-block" {{action 'goBack'}}>Voltar</button>
    {{/modal-dialog}}
{{/if}}

{{back-button route="friends.detail" model=model}}
