<h1 class="text-center">Amigos</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Data de Início da Amizade</th>
            </tr>
        </thead>
        <tbody>
        {{#each model as |friend|}}
            {{#link-to "friends.detail" friend tagName="tr"}}
                <td>{{friend.name}}</td> 
                <td>{{friend.lastname}}</td> 
                <td>{{moment-format friend.friendsSince 'DD/MM/YYYY'}}</td> 
            {{/link-to}}
        {{/each}}
        </tbody>
    </table>
</div>

{{#link-to "friends.create"}}<button class="btn btn-primary btn-block">Novo</button>{{/link-to}}
