<h1 class="title">Amigos</h1>
<ul class="friend-list">
    {{#each model as |friend|}}
        <li>
            {{#link-to "friends.detail" friend}}
                <strong>{{friend.fullName}}</strong> - Amigos desde {{moment-format friend.friendsSince 'DD/MM/YYYY'}} 
            {{/link-to}}
        </li>
    {{/each}}
</ul>

<button>{{#link-to "friends.create"}}Novo{{/link-to}}</button>